:root {
  --backgroundColor: "#000000";
  --menu: "#101010";
  --menuBorder: "#ffffff";
  --feedBtnColor: "#4e008d";
  --feedBtnTxtColor: "#ffffff";
  --feedName: "#ffffff";
  --article: "#00a0a0";
  --articleTitle: "#ffffff";
  --articleDate: "#0000ff";
  --articleDesc: "#ffffff";
  --clockColor1: "#ffffff";
  --clockColor2: "#ffffff";
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(224, 224, 224);
}

::-webkit-scrollbar-track {
  background: black;
}

body {
  width: calc(100% + 150px);
  overflow: hidden;
  background-color: var(--backgroundColor);
  font-size: 0;
}

body > span {
  display: inline-block;
  position: relative;
  height: 100%;
}

#newsFeeds {
  width: 154px;
  top: 0;
  left: -150px;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
  border-right: 1px solid;
  overflow-y: auto;
  background-color: var(--menu);
  color: var(--menuBorder);
}

#newsFeeds:hover, #newsFeeds.start {
  left: 0px;
  transition-delay: 0s;
}

#newsFeeds:hover + #feeds, #newsFeeds.start + #feeds {
  left: 0px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

#feeds {
  width: calc(100% - 155px);
  left: -150px;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.feedBtn {
  display: block;
  position: relative;
  height: 50px;
  width: calc(100%);
  line-height: 50px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--feedBtnColor);
  color: var(--feedBtnTxtColor);
  border: none;
  margin-bottom: 5px;
}

.feed {
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.feed.off {
  display: none;
}

.feed.on {
  display: block;
}

.feedName {
  display: block;
  position: relative;
  color: var(--feedName);
  font-size: 20pt;
  padding: 0 5px;
  width: calc(100% - 10px);
}

.article {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px;
  width: calc(100% - 10px);
  margin-bottom: 2px;
  background-color: var(--article);
}

.article div {
  display: block;
  position: relative;
}

.article img {
  position: relative;
}

.title {
  text-decoration: none;
  font-size: 16px;
  color: var(--articleTitle);
}

.date {
  font-size: 8px;
  color: var(--articleDate)
}

.desc {
  font-size: 14px;
  height: auto;
  color: var(--articleDesc);
}

.desc p {
 margin: 0;
}

.desc img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

.clock {
  display: block;
  height: auto;
  text-shadow: 0 0 5px #000000;
  user-select: none;
}

#newsFeeds .clock {
  color: var(--clock1Color);
  position: relative;
  width: 134px;
  font-size: 24pt;
  padding: 10px;
}

#feeds .clock {
  color: var(--clock2Color);
  position: absolute;
  width: auto;
  font-size: 20px;
  padding: 10px;
  top: 0;
  right: 0;
  z-index: 1;
}